*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
        max-width: 1200px;
        padding: 0 20px;
        margin: 0 auto;
        border: 3px solid red($color: #000000);
 }
 .heros{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    .hero-left{
        width: 50%;
        .hero-title{
         font-size: 60px;
         line-height: 45px;
         color: gray;
         margin-bottom: 20px;
        }
        .hero-text{
         font-size:18px;
         line-height: 25px;
         color: gray;
         margin-bottom: 20px;
        }
        .
        
    }
    .hero-right{
        width: 50%;
        .hero-rasm{
            width: 100%;
            height: 400px;
        }

    }
 }