*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
        max-width: 1200px;
        padding: 0 20px;
        margin: 0 auto;
        border: 3px solid red($color: #000000);
 }
 .heros{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero-left{
        max-width: 50%;
        
    }
    .hero-righht{
        max-width: 50%;

    }
 }