.section-services{
    padding: 60px 20px;
    background-color: #fafafa;
    margin-top: 40px;
    border-top: 1px solid #eaeaea;
    .services-title{
    font-size: 32px;
    color: #222;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    font-family: sans-serif;
    }
    .services-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    .services-item{
        width: 100%;
        background: #ffffff;
        padding: 30px 20px;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease;
        &:hover{
            transform: scale(0.9);
        }
        .card-icon{
            margin-bottom: 20px;
            font-size: 35px;
        }
        h3{
            font-size: 23px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
           
        }
    }
    }
    
}
